<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="APITests" verbose="10" configfailurepolicy="continue" parallel="tests">

    <test name="Complete test run">
        <classes>
            <class name="rdm.CreateNewUserAPI"></class>
            <class name="rdm.GetSingleUserAPI"></class>
            <class name="rdm.UpdateRecordAPI"></class>
            <class name="rdm.DeleteRecordAPI"></class>
        </classes>
    </test>

</suite>